body {
    padding: 0;
    margin: 0;

    background: url("./assets/background.jpg");
    background-size: cover;
}

/* HEADER */

header  {
    height: 7vh;

    padding: .5em 2em;

    background: white;
}

.logo-label .label {
    margin-left: .2em;
}

.sing-some input {
    margin-left: .4em;

    border: 5px;
}

/* MAIN */

main {
    height: 83vh;

    padding: 1em;
}

/* LOGIN */

.login-form {
    position: absolute;
    top: 16em;
    right: 40vw;

    width: 20%;

    padding: 1em;

    text-align: center;
    border: 3px solid gray;
    border-radius: 2em;
    background: rgba(255, 255, 255, .9);
}

.login-form div {
    display: inline-block;
    text-align: left;
}

.login-form div.info-block {
    width: 100%;

    padding: .3em;
    margin-top: 1em;

    text-align: center;
}
.nothing {
    transition: all 1s;
}
.inf-blk-warn {
    background: rgba(255, 0, 0, .9);
    color: white;
    transition: all 1s;
}

/* STICKER */

.sticker {
    position: absolute;
    top: 37%;
    left: 40%;

    width: 20%;
    min-height: 150px;

    padding: .4em;

    background: rgba(255, 255, 255, .92);
    border-bottom-right-radius: 1.5em;
    box-shadow: rgb(120, 120, 120) 5px 5px 15px 0;

    transition: box-shadow .3s, background .3s;
}

.sticker .tools div {
    padding: .1em;
    margin: 0 0 0 .3em;

    border: 2px solid rgba(0, 0, 0, 0);
    background: none;
}

.sticker .tools #lock-button.lock {
    border: 2px solid gold;
}

.sticker .top {
    font-size: .8em;
}

.sticker .top .date-time {
    color: gray;
}

.sticker hr {
    margin: .6em 0 .2em;
}

.add-sticker {
    position: absolute;
    top: 83%;
    right: 1em;

    width: 3em;
    height: 3em;

    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
    border: none;
}
.add-sticker:hover {
    background: rgba(255, 255, 255, .9);
}

.add-sticker img {
    width: 100%;
}



.searched-content, .searched-title, .searched-mark {
    background: white;
}
.searched-content {
    box-shadow: orangered 5px 5px 15px 5px;
}
.searched-title {
    box-shadow: springgreen -5px -5px 15px 5px;
}
.searched-mark {
    box-shadow: mediumpurple -5px 5px 15px 5px;
}
.searched-content.searched-title {
    box-shadow: springgreen -5px -5px 15px 5px, orangered 5px 5px 15px 5px;
}
.searched-content.searched-mark {
    box-shadow: springgreen -5px -5px 15px 5px, mediumpurple -5px 5px 15px 5px;
}
.searched-title.searched-mark {
    box-shadow: orangered 5px 5px 15px 5px, mediumpurple -5px 5px 15px 5px;
}
.searched-content.searched-title.searched-mark {
    box-shadow: springgreen -5px -5px 15px 5px, orangered 5px 5px 15px 5px, mediumpurple -5px 5px 15px 5px;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 10vh;

    background: white;
}

.contacts {
    width: 40%;
}

.contact a {
    margin-left: .2em;

    color: gray;
}
.contact a:hover {
    color: gray;
}

/* StickerEdit Window */

.d-flex, .d-none {
    transition: all 1s;
}

.edit-window {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, .8);
}

.edit-sticker {
    min-width: 40%;
    min-height: 90%;

    padding: .5% .5% .5% 2%;

    background: white;
    border-radius: .5em;
}

.close-edit-window {
    padding: .3em;
    margin: 0 0 0 .5em;

    border: none;
    border-radius: .3em;
    background: none;

    float: right;
}
.close-edit-window:hover {
    background: rgba(200, 200, 200, .9);
}

.edit-sticker #title {
    margin-left: .5em;

    border: none;
    border-bottom: 2px solid #4848ba;
}

.edit-sticker .add-mark {
    border: none;
    background: none;
}

.edit-sticker .add-mark img {
    margin-bottom: 5px;
}

.edit-sticker .edit-mark-list {
    position: absolute;
    top: 28%;
    left: 34%;

    min-width: 18vw;
    /*min-height: 27em;*/

    padding: .5em;

    background: white;
    box-shadow: rgb(120, 120, 120) 5px 5px 15px 0;
    border-radius: 1em 3em 1em 3em;
}

.edit-sticker .edit-mark-list .all-marks {
    margin-top: 1em;
}

#marks {
    min-height: 35px; !important;
}

div.mark {
    padding: .1em .5em;
    margin-right: .3em;
    margin-bottom: .5em;

    color: white;
    /*background: mediumpurple;*/
}

.edit-sticker .edit-mark-list #name-new-mark {
    border: none;
    border-bottom: 2px solid #4848ba;
}

.edit-sticker textarea {
    width: 96%;
}

/* Tiny Helper */

h4 {
    margin: 1em 0 .2em 0;
}

.space {
    height: .2em;
    clear: both;
}

.mark {
    height: 1.7em;

    border-radius: .3em;
}

/* Dev Styles */

.red-border {
    border: 2px solid red;
}
